.NewTaskButton {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.icon {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;

  svg {
    width: 15px;
    height: 15px;

    fill: #b4b4b4;
  }
}

.text-input {
  margin-left: 10px;
  font-size: 18px;
}
